.header-slogan {
    font-family: $secondary-font-stack;
    font-size: 150px;
    line-height: 140px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 100px;
    color: $primary-white-color;
    letter-spacing: -3px;
    margin-bottom: 104px;
}