.site-logo {
    display: inline-block;
    text-decoration: none;
    font-family: $secondary-font-stack;
    font-weight: 300;
    font-size: 30px;
    color: #b0e9de;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 24px;
}