.socials {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 224px;
    opacity: 0;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    &__link {
        @include center-flex("all");
        width: 55px;
        height: 56px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fce38a;
        &:hover {
            transition: 0.2s linear;
            background-color: #f38181;
            box-shadow: 1px 0px 0px 0px rgba(149, 225, 211, 0.65);
        }
        &:focus {
            transition: 0.2s linear;
            background-color: #f38181;
            box-shadow: 1px 0px 0px 0px rgba(149, 225, 211, 0.65);
        }
    }
    &__icon {
        @include center-flex("all");
        fill: #f38181;
        &--facebook {
            width: 13px;
            height: 26px;
        }
        &--twitter {
            width: 26px;
            height: 22px;
        }
        &--pinterest {
            width: 21px;
            height: 26px;
        }
        &--instagram {
            width: 26px;
            height: 26px;
        }
    }
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
    transition: 0.2s linear;
    fill: $primary-white-color;
}