// FONTS
$main-font-stack: "Roboto-Regular",
sans-serif;
$secondary-font-stack: "Montserrat-Bold",
sans-serif;
$title-font:"Kaushan Script";
$accent-font:"Roboto-LightItalic";
// COLORS
$primary-white-color: #ffffff;
$primery-dark-color:#333333;
$secondary-dark-color:#999999;
$color-link:#b0e9de;
$navigation-color-accent:#fce38a;
// TEXT
$main-text-size:15px;
$main-text-height:24px;